server {
  listen 80;
  server_name localhost;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location ~* /auth/confirm/[a-z0-9\-]+ {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location /api/bridge/ {
    proxy_pass http://${HOST_BRIDGE}:${PORT_BRIDGE};
  }

  location /api/mauth/ {
    proxy_pass http://${HOST_MAUTH}:${PORT_MAUTH};
  }
}
