server {
  listen 80;
  server_name localhost;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location /api/bridge {
    proxy_pass http://${NODE_HOST_BRIDGE}:3500;
  }

  location /api/mauth {
    proxy_pass http://${NODE_HOST_MAUTH}:3001;
  }
}
