.root {
    margin: 0 10px 10px 0;
    min-width: 200px;
    min-height: 130px;
    max-width: 200px;
    max-height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid;
    border-color: var(--color);
    border-radius: 10%;
    justify-content: space-around;
    background-color: var(--backgraund-color);
    text-decoration: none;
}

.root > div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    font-size: 16px;
    color: var(--color);
}

.root > div:nth-child(2) {
    display: flex;
    justify-content: center;
    fill: var(--color);
}

.root > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 25px;
    color: var(--color);
}

.createElement {
    font-size: 25px !important;
    padding-left: 35px !important;
}