.root {
  padding:20px 30px;
  border: 1px solid var(--color);
  max-width: 1000px;
}
.root p,
.root h5 {
  color: var(--color)
}

.root a:hover{
  color: var(--color) !important;
}


.root h5:hover {
  text-decoration: underline;
  cursor: pointer;
}