.root {
  display: flex;
  flex-flow: column wrap;
  flex: 400px;
  margin: 10px;
  padding: 20px;
  background-color: var(--background-color);
  border: 1px solid var(--color);
}

.root:hover {
  cursor: pointer;
}

.root h5 {
  color: var(--color);
}

.root p {
  color: var(--color);
  text-align: right;
}