.root {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  max-width: 650px;
}

.root p, 
.root h2,
.root div {
  color: var(--color);
  background-color: var(--background-color);
}

.icon :nth-child(1), 
.icon :nth-child(2) {
  fill: var(--color);
}