.root li:hover{
  color: white !important;
  cursor: pointer;
}
.root span{
  margin-left: 10px;
}
.root span {
  color: #d9534f ;
}
.root span:hover{
  cursor: pointer;
  text-decoration: underline;
}