.root {
  margin: 20px 20px 20px 0;
}

.root fieldset {
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
}

.root fieldset>input {
  margin-right: 10px;
}

.root fieldset>input[type=search] {
  flex: 5;
}

.root fieldset>input[type=submit]{
  flex: 1;
}