.root>h3,
.root>h5,
.root p {
  color: var(--color);
}
.root button{
  margin-right: 15px;
}
.root a:hover{
  color: var(--color) !important;
}

/* .link {
  color: var(--color);
  padding: 2px;
  margin-left: 6px;
  border: solid 2px;
  border-color: var(--color);
} */