.root>div {
  background-color: #1a1a1a !important;
}

.root h2>span {
  background-color: #272727 !important;
}

.root>div,
.root h2>span {
  color: white !important;
}

.root h2>span:hover {
  cursor: pointer;
}

/* стрелка выпадающего листа */
.root h2>span::after {
  background-image: var(--bs-accordion-btn-icon-custom) !important;
  transition: var(--bs-accordion-btn-icon-custom-transition);
}

.root input[type=checkbox]{
  margin-right: 20px;
}

.root label{
  cursor: pointer;
}

.root .checkboxList{
  margin-left: 50px;
}
.root .checkboxList p:first-child{
  font-size: small;
}
.root .checkboxList p:first-child:hover{
  cursor: pointer;
  text-decoration: underline;
}

.root .level{
  margin-bottom: 15px;
}
.root .level>span{
  margin-left: 10px;
}
.root .level>span:hover{
  cursor: pointer;
  text-decoration: underline;
}
