.root {
  margin: 20px;

  --bs-accordion-btn-icon-custom: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  --bs-accordion-btn-icon-custom-transition: transform 0.2s ease-in-out;
}

.root>h1,
p {
  color: white;
}

/* компоновка контента */
.content {
  display: flex;
  flex-flow: row wrap;
}

.content>div:nth-child(1) {
  flex: 1 200px;
  margin: 0 15px 0 0;
  /* background-color: yellow; */
}

.content>div:nth-child(2) {
  flex: 5 500px;
}

.content img {
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
}


/* аккордеон */
#accordion>div {
  background-color: #1a1a1a !important;
}

#accordion h2>span {
  background-color: #272727 !important;
}

#accordion>div,
#accordion h2>span {
  color: white !important;
}

#accordion h2>span:hover {
  cursor: pointer;
}

/* стрелка выпадающего листа */
#accordion h2>span::after {
  background-image: var(--bs-accordion-btn-icon-custom) !important;
  transition: var(--bs-accordion-btn-icon-custom-transition);
}

.button {
  display: flex;
  flex-direction: row-reverse;
}

.photo img {
  width: 150px;
  height: 150px;
}

.root button {
  background-color: #272727 !important;
  color: white !important;
  height: 50px;
  border-color: white;
  border-width: 1px;
}