:root[data-theme="light"] {
  --color: #1a1a1a;
  --color-link: #1a1a1a;
  --background-color: #f1f1f1;
}

:root[data-theme="dark"] {
  --color: #ffffff;
  --color-link: #ffffff93;
  --background-color: #1a1a1a;
}

body {
  background: var(--background-color) !important;
}
