.root {
  margin: 50px 20px 100px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.root > div {
  width: 80%; 
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center;
  align-items: center; */
}

.root> div p {
  flex: 2;
  min-width: 800px;
  margin: 10px;
}

.root p,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  color: var(--color);
}