.root {
  /* width: var(--slide-width); */
  position: relative;
  transition: all  0.5s ease-out;
  background-color: var(--background-color);
  padding: 10px;
}

.wrapper {
  border: solid 1px var(--color);
  height: 19em;
  overflow: hidden;
}

.root img{
  height: 15em
  /* width: 80%; */
}