/* :root{
  --slide-width: 550px;
  --slide-height: 550px;
} */

.root {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.root p,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  color: var(--color);
}

.pane {
  position: relative;
  /* border: solid 3px green; */
  /* width: var(--slide-width);
  height: var(--slide-height); */
  height: 20em;
  overflow: hidden;
  /* display: flex;
  flex-flow: row nowrap; */
}

.slidesWrapper{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  /* border: solid 3px red; */
  transition: all 0.5s ease-out;
}
